<%= form_with(model: categorywine, local: true) do |form| %>
  <% if categorywine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(categorywine.errors.count, "error") %> prohibited this categorywine from being saved:</h2>

      <ul>
      <% categorywine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= form.label :categories %>
    <%= form.collection_check_boxes(:category_id, Category.all, :id, :name) do |b|%>
      <%= b.label class: 'label-checkbox' do%>
      <%= b.check_box + b.text%>
    <%end%>
  <%end%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
