<p id="notice"><%= notice %></p>

<h1>Categorywines</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Wine</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categorywines.each do |categorywine| %>
      <tr>
        <td><%= categorywine.category %></td>
        <td><%= categorywine.wine %></td>
        <td><%= link_to 'Show', categorywine %></td>
        <td><%= link_to 'Edit', edit_categorywine_path(categorywine) %></td>
        <td><%= link_to 'Destroy', categorywine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categorywine', new_categorywine_path %>
